version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: Banana123!@
      MYSQL_DATABASE: db_eventos
      MYSQL_USER: eventos
      MYSQL_PASSWORD: eventos
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    command: --default-authentication-plugin=mysql_native_password --bind-address=0.0.0.0
    networks:
      - mysql-network

volumes:
  mysql_data:
    driver: local

networks:
  mysql-network:
    driver: bridge